.guest-bkg{
    background-image: url(images/thumb-1920-42470.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.aut-bkg{
    background-image: url(images/wallpaper_autobots_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

.dec-bkg{
    background-image: url(images/wallpaper_decepticons_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gamevw-aut-bkg{
    background-image: url(images/aut_vs_dec.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gamevw-dec-bkg{
   background-image: url(images/dec_vs_aut.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.img-title{
    width: 50%;
}

.vs{
    width: 10%;
}

.card-bkg, .card{
    background-color: hsla(0,0%,100%,.5);
    border-radius: 2%;
}



.grid td, .grid th{
  width: 30px;
  height: 30px;
  padding: 0px;
}

.col-header{
    font-weight: bold;
}

.col-header, th{
    text-align: center;
}

.trf{
    background-color: blue;
    border-radius: 25%;
}

.trf.trf-aut{
    background-image: url("images/AutobotsIcon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.trf.trf-dec{
    background-image: url("images/Decepticon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.trf-down{
     width: 35px;
     height: 35px;
     background-image: url(images/dark-bomb.gif);
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
}

.trf-sunk{
   width: 35px;
   height: 35px;
   background-image: url(images/fireball.gif);
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.salvo{
    width: 35px;
   height: 35px;
   background-image: url(images/red_cross.png);
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.hit{
    width: 35px;
     height: 35px;
     background-image: url(images/dark-bomb.gif);
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
}

.sunk{
    width: 35px;
   height: 35px;
   background-image: url(images/dark-bomb.gif);
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   background-color: #CD0000;
}

.hidden{
    display: none;
}

.trf-icon{
    width: 50px;
    height: 50px;
}

.side-field{
    visibility: hidden;
}

.welcome-dec{
    background-color: #2E0854;
    color: white;
}

.welcome-aut{
    background-color: #CD0000;
    color: white;
}

.miniature{
    width: 200px;
}

.aut-user{
    padding-left: 25px;
    background-image: url(images/autobots-icon-red.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.dec-user{
    padding-left: 25px;
    background-image: url(images/decepticons-icon-lila.png);
    background-size: contain;
    background-repeat: no-repeat;
}



#optimus-vh{
    width: 160px;
    height: 30px;
}

#optimus-vh-vertical{
    width: 40px;
    height: 160px;
}

#bumblebee-vh{
    width: 125px;
    height: 30px;
}

#bumblebee-vh-vertical{
    width: 30px;
    height: 125px;
}

#ironhide-vh{
    width: 90px;
    height: 30px;
}

#ironhide-vh-vertical{
    width: 30px;
    height: 90px;
}

#ratchet-vh{
    width: 90px;
    height: 30px;
}

#ratchet-vh-vertical{
    width: 30px;
    height: 90px;
}

#sideswipe-vh{
    width: 55px;
    height: 30px;
}

#sideswipe-vh-vertical{
    width: 30px;
    height: 55px;
}



#megatron-vh{
    width: 150px;
    height: 40px;
}

#megatron-vh-vertical{
    width: 40px;
    height: 150px;
    
}

#brawl-vh{
  width: 125px;
  height: 30px;
}

#brawl-vh-vertical{
  width: 30px;
  height: 125px;
}

#blackout-vh{
    width: 90px;
    height: 45px;
}

#blackout-vh-vertical{
    width: 45px;
    height: 90px;
    left: -5px;
}



#barricade-vh{
    width: 90px;
    height: 30px;
}

#barricade-vh-vertical{
    width: 30px;
    height: 90px;
}

#starscream-vh{
    width: 55px;
    height: 30px;
}

#starscream-vh-vertical{
    width: 30px;
    height: 55px;
}


#transformers-field .grid td, #transformers-field .grid th{
    display: inline-block;
    width: 40px;
    height: 40px;

}

#transformers-field .grid{
    width: 442px;
}

.targeted{
  background-image: url(images/Target-icon-red.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#turn{
  background-color: black;
  color: green;
  width: 25px;
  padding: 1px 3px;
  text-align: center;
  font-weight: bold;
}

#battle-log{
  background-color: black;
  color: green;
  width: 175px;
  height: 75px;
  padding: 1px 3px;

}

.popover{
    background-color: blue;
}

.popover-body{
    background-color: grey;
}

.popover-header{
  background-color: blue;
}

.bs-popover-auto[x-placement^=right] .arrow::after, .bs-popover-right .arrow::after {
    
    border-right-color: black;
}

.enemy-icon{
    width: 75px;
    height: 75px;
    display: block;
}

.enemy-down{
    opacity: 0.3;

}

.grid-stack-item{
  background-color: rgba(255, 255, 255, 0.2)
}

.missile{
    height: 50px;
    margin-top: 10px;
}

#missile-field{
    display: inline-block;
}

#games-list-container{
    height: 400px;
    overflow: auto;
}

.autobots-defeated{
    background-image: url("images/autobots-defeated.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 400px;
}

.decepticons-defeated{
    background-image: url("images/decepticons-defeated.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 400px;
}

.autobots-victory{
    background-image: url("images/autobots-victory.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 400px;
}

.decepticons-victory{
    background-image: url("images/decepticons-victory.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 400px;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

.modal-full .modal-body{
    padding: 0;
    background-color: black;
}

.intro{
    width: 99vw;
    height: 99vh;
    position: absolute;
    z-index: 1;
}

.skip{
    position: absolute;
    top: 75px;
    right: 50px;
    z-index: 2;
}


