.guest-bkg{
    background-image: url(images/thumb-1920-42470.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.aut-bkg{
    background-image: url(images/wallpaper_autobots_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

.dec-bkg{
    background-image: url(images/wallpaper_decepticons_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gamevw-aut-bkg{
    background-image: url(images/aut_vs_dec.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gamevw-dec-bkg{
   background-image: url(images/dec_vs_aut.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.img-title{
    width: 50%;
}

.vs{
    width: 3%;
}

.card{
    background-color: hsla(0,0%,100%,.5);
}

.grid{
    width: 90%;
}

.col-header{
    font-weight: bold;
}

.col-header, th{
    text-align: center;
}

.trf{
    background-color: blue;
    border-radius: 25%;
}

.trf.trf-aut{
    background-image: url("images/AutobotsIcon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.trf.trf-dec{
    background-image: url("images/Decepticon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.trf-down{
     background-color: red;
     border-radius: 25%;
     text-align: center;
     font-weight: bold;
}

.salvo{
    background-color: orange;
    border-radius: 25%;
    text-align: center;
    font-weight: bold;
}

.hidden{
    display: none;
}

.trf-icon{
    width: 50px;
    height: 50px;
}

.side-field{
    visibility: hidden;
}

.welcome-dec{
    background-color: #2E0854;
    color: white;
}

.welcome-aut{
    background-color: #CD0000;
    color: white;
}

.miniature{
    width: 200px;
}

.aut-user{
    padding-left: 25px;
    background-image: url(images/autobots-icon-red.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.dec-user{
    padding-left: 25px;
    background-image: url(images/decepticons-icon-lila.png);
    background-size: contain;
    background-repeat: no-repeat;
}



#optimus-vh{
    width: 210px;
    height: 40px;
}

#optimus-vh-vertical{
    width: 40px;
    height: 210px;
}

#bumblebee-vh{
    width: 165px;
    height: 40px;
}

#bumblebee-vh-vertical{
    width: 40px;
    height: 165px;
}

#ironhide-vh{
    width: 130px;
    height: 40px;
}

#ironhide-vh-vertical{
    width: 40px;
    height: 130px;
}

#ratchet-vh{
    width: 130px;
    height: 40px;
}

#ratchet-vh-vertical{
    width: 40px;
    height: 130px;
}

#sideswipe-vh{
    width: 85px;
    height: 40px;
}

#sideswipe-vh-vertical{
    width: 40px;
    height: 85px;
}

#brawl-vh{
  width: 210px;
  height: 40px;
}

#brawl-vh-vertical{
  width: 40px;
  height: 210px;
}

#blackout-vh{
    width: 115px;
    height: 40px;
}

#blackout-vh-vertical{
    width: 40px;
    height: 115px;
}

#megatron-vh{
    width: 115px;
    height: 40px;
}

#megatron-vh-vertical{
    width: 40px;
    height: 115px;
}

#barricade-vh{
    width: 150px;
    height: 40px;
}

#barricade-vh-vertical{
    width: 40px;
    height: 150px;
}

#starscream-vh{
    width: 85px;
    height: 40px;
}

#starscream-vh-vertical{
    width: 40px;
    height: 85px;
}




#transformers-field .grid td, #transformers-field .grid th{
    display: inline-block;
    width: 40px;
    height: 40px;

}

#transformers-field .grid{
    width: 442px;
}

